.product-information {
    width: 50%;
    background-color: #000080; 
    color: #ff00ff; 
    border: 3px dashed #00ff00;
    padding: 1rem;
    margin: auto; 
}


.product-information p {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px; 
    color: #ffff00; 
    padding: 0.5rem;
    background-color: #0000ff; 
    border: 1px solid #ff0000; 
}


.product-information img {
    width: 100%; 
    height: auto;
    border: 2px solid #ff0000; 
    margin: 2rem 0; 
}

.product-information button {
    background-color: #00ff00; 
    color: #000080; 
    border: none;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-information button:hover {
    background-color: #ff00ff; 
}

