.checkout {
    margin-left: 20rem;
    margin-right: 20rem;
}

.checkout-form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-form-container input[type="text"],
.checkout-form-container input[type="tel"],
.checkout-form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkout-form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--blue);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-form-container button[type="submit"]:hover {
    background-color: darkblue;
}

::placeholder {
    color: #888;
}

.checkout-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#checkout-item-product-name {
    font-weight: bold;
}

.checkout-item .product-quantity {
    font-size: 1.5rem; 
    color: var(--yellow);
    font-weight: bold; 
    margin-right: 1em; 
}

#checkout-total-cost {
    color: var(--yellow);
    font-size: 5rem;
    margin-top: 20px;
    font-weight: bold;
    text-align: right;
}
