.image-carousel {
  position: relative;
  max-width: 80%; 
  margin: auto; 
  display: flex;
  align-items: center;
}

.image-carousel img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--yellow); 
  color: #333; 
  border: 2px solid #333; 
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace; 
  box-shadow: 3px 3px 0 #333; 
  z-index: 100;
  transition: all 0.3s ease;
}

.image-carousel button:hover {
  background-color: #333;
  color: #f4f4f4;
  box-shadow: 6px 6px 0 #f4f4f4;
}

.image-carousel button.hidden {
  visibility: hidden;
}

.image-carousel button:first-of-type {
  left: -50px; 
}

.image-carousel button:last-of-type {
  right: -50px; 
}
