.footer {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    height: 2rem;
}

.footer p {
    color: var(--yellow);
    font-style: italic;
    font-size: 15px;
    margin-left: 1rem;
}