.footer {
    background-color: #0037ff;
    display: flex;
    align-items: center;
    border-top: 1px solid black;

}

.footer p {
    color: #f6ff00;
    font-style: italic;
    font-size: 15px;
    margin-left: 1rem;
}