.header {
    background-color: blue;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: end;
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    width: 50%;
}

.nav-list-item {
    color: yellow;
}

h1 {
    color: yellow;
    font-size: 5em;
    font-style: italic;
    display: flex;
    margin: 0;
    width: 50%;
}
