.header {
    background-color: #0037ff;
    display: flex;
    height: 10rem;
    align-items: center;
    border-bottom: 1px solid black;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: end;
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    align-self: flex-end;
}

.nav-list-item {
color: #f6ff00;
}

h1 {
color: #f6ff00;
  font-size: 70px;
  font-style: italic;
  font-stretch: extra-condensed;
  margin-left: 1rem;
}
