.products-page {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px; 
    width: 100%;
    padding: 20px; 
}